@font-face {
  font-family: 'DINCond';
  src: url('DINCond-Black.eot');
  src: url('DINCond-Black.eot?#iefix') format('embedded-opentype'),
       url('DINCond-Black.woff') format('woff'),
       url('DINCond-Black.ttf')  format('truetype'),
       url('DINCond-Black.svg#181280313c3d1b2345ac7c4aa551689d') format('svg');
  font-style:  normal;
  font-weight: 700; // Black
}

@font-face {
  font-family: 'DINCond';
  src: url('DINCond-Bold.eot');
  src: url('DINCond-Bold.eot?#iefix') format('embedded-opentype'), 
       url('DINCond-Bold.woff') format('woff'), 
       url('DINCond-Bold.ttf')  format('truetype'), 
       url('DINCond-Bold.svg#14fd422d6ed77dac08bb4d6fb77510a4') format('svg');
  font-style:  normal;
  font-weight: 600; // Bold
}

@font-face {
  font-family: 'DINCond';
  src: url('DINCond-Medium.eot'); 
  src: url('DINCond-Medium.eot?#iefix') format('embedded-opentype'), 
       url('DINCond-Medium.woff') format('woff'),
       url('DINCond-Medium.ttf')  format('truetype'),
       url('DINCond-Medium.svg#54bc58aaaf4d87e858b892df39ecdecb') format('svg');
  font-style:  normal;
  font-weight: 500; // Medium
}

@font-face {
  font-family: 'DINCond';
  src: url('DINCond-Regular.eot');
  src: url('DINCond-Regular.eot?#iefix') format('embedded-opentype'), 
       url('DINCond-Regular.woff') format('woff'),
       url('DINCond-Regular.ttf')  format('truetype'), 
       url('DINCond-Regular.svg#708292701cfa979e49cd78324036f863') format('svg');
  font-style:  normal;
  font-weight: 400; // Regular
}