#home {
	color: #fff;
	text-align: center;
	@include background(linear-gradient(top, rgba(150,214,233,1) 0%,rgba(125,185,232,1) 100%));
	// @include background(image-url('bg_cloud.png') top center repeat-x);
	h2, h3 {
		text-transform: uppercase;
	}
	h2 {
		font-size: 2.5vw;
		margin: 20px 0 40px 0;
	}
	h3 {
		font-size: 1.5vw;
		margin: 40px 0 20px 0;
	}
	input[type="text"] {
		color: $font-color;
		font-size: 2.5vw;
		text-transform: uppercase;
		width: 35%;
		min-width: 250px;
		height: 70px;
		padding: 0 0 0 60px;
		border: none;
		@include background(image-url('location.png') 15px center no-repeat, image-url('arrow.png') 95% center no-repeat, #fff);
		@include box-sizing(content-box);
		@include input-placeholder {
			color: $font-color;
		}
		&:focus {
			outline: none;
		}
	}
	svg {
		path {
			@include transition(all 0.1s linear);
		}
	}
	a.go-down {
		font-size: 0;
		text-decoration: none;
		display: block;
		height: 25px;
		width: 44px;
		padding: 0;
		margin: 50px auto 0 auto;
		border: none;
		@include background(image-url('arrow-thin.png'));
	}
}