#home {
	z-index: 100;
	position: relative;
	padding: 5vw 0 0 0;
	text-align: center;
	@include box-sizing(border-box);
	@include transition(all 400ms ease-in-out);
	@include transform(translate3d(0px, 0px, 0px));
	.bg-container {
		position:absolute;
		top:0;
		width:100%;
		height:100%;
		z-index:-1000;
		overflow-x: hidden;
		@include background(linear-gradient(top, rgba(150,214,233,1) 0%,rgba(125,185,232,1) 100%));
		.clouds {
			animation: cloud 200s ease infinite;
			height:100%;
			width:200%;
			position:absolute;
			top:0; left:0;
			&:nth-child(1) {
				@include background(image-url('cloud_1.png') repeat-x);
				-webkit-animation: cloud 220s ease infinite;
						animation: cloud 220s ease infinite;
			}
			&:nth-child(2) {
				@include background(image-url('cloud_2.png') repeat-x);
				-webkit-animation: cloud 180s ease infinite;
						animation: cloud 220s ease infinite;
			}
			&:nth-child(3) {
				@include background(image-url('cloud_3.png') repeat-x);
				-webkit-animation: cloud 140s ease infinite;
						animation: cloud 220s ease infinite;
			}
		}
	}
	h2 {
		font-size: 4.5vw;
		margin: 20px 0 40px 0;
	}
	h3 {
		font-size: 2.5vw;
		margin: 40px 0 20px 0;
	}
	.geolocation {
		color: #308ebb;
		font-size: 2vw;
		width: 30%;
		max-width: 450px;
		line-height: 2.5vw;
		margin: 0 auto;
		padding: 10px;
		background-color: #fff;
		background-position: 15px center;
		background-repeat: no-repeat;
		background-size: 50px auto;
		@include box-sizing(content-box);
		@include transition(all 0.3s ease-in-out);
	}
	svg {
		path {
			@include transition(all 0.1s linear);
		}
	}
	a.go-down {
		font-size: 0;
		text-decoration: none;
		display: block;
		height: 25px;
		width: 44px;
		padding: 0;
		margin: 50px auto 0 auto;
		border: none;
		@include background(image-url('arrow-thin.png'));
	}
}

@keyframes cloud {
	0% {
		@include transform(translateX(0%) translateZ(0));
	}
	50% {
		@include transform(translateX(-50%) translateZ(0));
	}
	100% {
		@include transform(translateX(0%) translateZ(0));
	}
}

@-webkit-keyframes cloud {
	0% {
		@include transform(translateX(0%) translateZ(0));
	}
	50% {
		@include transform(translateX(-50%) translateZ(0));
	}
	100% {
		@include transform(translateX(0%) translateZ(0));
	}
}
