#level-1 {
	position: relative;
	text-align: center;
	padding: 5% 0 0 0;
	@include box-sizing(border-box);
	@include background(linear-gradient(top, rgba(125,185,232,1) 0%, rgba(0,135,213,0.8) 45%, rgba(0,135,213,0.8) 55%, rgba(0,135,213,1) 100%));	
	h2 {
		font-size: 3.5em;
		color: rgba(255,255,255,0.2);
		text-transform: uppercase;
		line-height: 0.5em;
	}
	// h3 {
	// 	position: relative;
	// 	font-size: 10em;
	// 	color: #fff;
	// 	font-weight: 600;
	// 	line-height: 1em;
	// }
	.blur-percentage p {
		font: 9em 'Glober', 'DINCond', Verdana, sans-serif;
		font-weight: 600;
		line-height: 1em;
	}
	/* BLUR */
	.wrapper {
	  position: relative;
	  display: inline-block;
	  z-index: 15;
	}
	.blur-percentage{
	  display: block;
	  height: 100px;
	  width: 170px;
	}
	#blur {
	 	position: absolute;
		bottom: -26px;
		left: 0;
		height: 50px;
		width: 170px;
		overflow: hidden;
		@include background-image(linear-gradient(top, rgba(85,165,226,1) 0%,rgba(73,159,224,1) 100%));
		z-index: 50;
		-webkit-animation: blur 2s linear infinite;
		  			animation: blur 2s linear infinite;
	}
	.content-blurred {
	  @include filter(blur(2px));
	  opacity: 1;
	}
	.content-blurred .blur-percentage {
	  position: relative;
	  top: -88px;
	  left: 0;
	}
	svg{
		position: absolute;
		bottom: -95px;
		left: 0;
		z-index: 9999;
	}
	// svg:nth-of-type(2) {
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	@include transform(rotate(-180deg));
	// }
	p {
		font-size: 1.5em;
		font-weight: bold;
		position: relative;
		margin: 7% 0 0 0;
		line-height: 2em;
		z-index: 20;
		span {
			display: block;
			font-weight: normal;
			font-style: italic;
		}
	}
}

@keyframes blur {
	0% { 
		opacity: 0; 
	} 
	50% {
		opacity: 1; 
	}
	100% { 
		opacity: 0; 
	}
}

@-webkit-keyframes blur {
	0% { 
		opacity: 0; 
	} 
	50% {
		opacity: 1; 
	}
	100% { 
		opacity: 0; 
	}
}