#map-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 150;
	padding: 2vw 0 0 0;
	@include background(linear-gradient(top, rgba(150,214,233,1) 0%,rgba(125,185,232,1) 100%));
}
