@import "compass/reset";
@import "compass";
@import "fonts";

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

$font-color: #308ebb;

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.logo a {
	font-size: 0;
	display: inline-block;
	width: 100%;
	height: 90px;
	background-size: 100% auto;
	@include background(image-url('logo.svg') center center no-repeat);

}

body {
	color: #fff;
	font: 14px 'DINCond', Verdana, sans-serif;
	@include background(linear-gradient(top, rgba(136,197,225,0) 0%,rgba(141,200,229,1) 100%));
}

/* NAV */
nav.menu {
	position: fixed;
	top: 3%;
	right: 3%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 9999;
	h2 {
		font-size: 1.5em;
		position: relative;
		cursor: pointer;
		&::selection {
			background: transparent;
		} 
		&.cross {
			color: transparent;
		}
		&.cross::before {
			opacity: 1;
			@include transform(rotate(40deg));
		}
		&.cross::after { 
			opacity: 1;
			@include transform(rotate(-40deg));
		}
		&::before, &::after {
			opacity: 0;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			margin: auto auto;
			content: '';
			display: block;
			height: 3px;
			width: 20px;
			background: #fff;
			@include transition(transform 0.3s ease);
		}
	}
	ul {
		margin: 1em 0 0 0;
	}
	li {
		opacity: 0;
		@include transition(all 400ms ease-in-out, opacity 1000ms ease);
		@include transform(translate3d(150px, 0px, 0px) scale(0.2));
		a {
		color: #fff;
		font-size: 2em;
		text-decoration: none;
		text-transform: none;
		line-height: 2em;
		text-transform: uppercase;
		@include transition(all 0.2s ease-out);
		&:hover {
			color: #1678b2;
		}
		}
	}
	li.visible {
		opacity: 1;
		@include transform(translate3d(0px, 0px, 0px) scale(1));
	}
}

#map-wrapper, #credits, div.more-visible {
	opacity: 0;
	visibility: hidden;
	@include transition(all 400ms ease-in-out);
	&.visible {
		visibility: initial;
		opacity: 1;
	}
}

#scrolltotop {
	font-size:0;
	color: transparent;
	width: 35px; height: 35px;
	position: fixed;
	bottom: 35px;
	right: 35px;
	z-index: 2000;
	@include background(image-url('arrow_top.png') no-repeat);
	background-size: 35px;
}

/* END NAV */

a.go-down {
	position: relative;
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 auto;
	height: 40px;	
	line-height: 40px;
	padding: 0 10px;
	margin: 50px 0 0 0;
	border: 2px solid #fff;
	z-index: 9999;
}

@import "home";
@import "map";
@import "credits";
@import "level-1";
@import "level-2";
@import "error";