@import "compass/reset";
@import "compass";
@import "fonts";

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

$font-color: #308ebb;

.logo a {
	font-size: 0;
	display: inline-block;
	width: 150px;
	height: 183px;
	margin: 8vw 0 0 0;
	@include background(image-url('logo.png') no-repeat);
}

body {
	font: 14px Verdana, sans-serif;
	@include background(linear-gradient(top, rgba(136,197,225,0) 0%,rgba(141,200,229,1) 100%));
}

nav.menu {
	position: fixed;
	top: 3%;
	right: 3%;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	z-index: 50;
	&:hover { opacity: 0.7; }
}

a.go-down {
	position: relative;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 auto;
	height: 50px;	
	line-height: 50px;
	padding: 0 20px;
	margin: 50px 0 0 0;
	border: 3px solid #fff;
	z-index: 20;
}

@import "home";
@import "level-1";
@import "level-2";
@import "level-3";